name: npm audit fix

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  npm-audit-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ybiquitous/npm-audit-fix-action@32e3d11ddee9c7959fc89c4e3b322c64f7d33c2e # v7.3.5
        with:
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
